<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello_world</title>
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='style.css') }}">
    <script src="{{ url_for('.static', filename='jquery-3.3.1.min.js') }}"></script>
</head>
<body>
<div class="title">
    {{message}}
</div>
</body>
</html>